<<<<<<< HEAD
body{
    margin-top: 20px;
    text-align: center;
}

#result{
    color: blue;
}

h2{
    color: azure;
    background-color: blue;
}

button{
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px black;
=======
body{
    text-align: center;
}

.celcius{
    color: blue;
}

.fahrenheit{
    color: rebeccapurple;
>>>>>>> f64c45bcf76cbadcf2471e6a2cbd88f045990d13
}