body{
    margin-top: 20px;
    text-align: center;
}

#result{
    color: blue;
}

h2{
    color: azure;
    background-color: blue;
}

button{
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px black;
}