#studentList{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 10px;
    row-gap: 10px;
    
}
.student{
    border: 1px solid #222222;
    background-color: #dedede;
}